In [1]:
import pandas as pd
import requests as r
import re
from tqdm.auto import tqdm

In [3]:
pd.read_csv('data/eval_df.csv')

,tconst,titleType,isAdult,startYear,runtimeMinutes,genres_Action,genres_Adult,genres_Adventure,genres_Animation,genres_Biography,...,genres_Sci-Fi,genres_Short,genres_Sport,genres_Talk-Show,genres_Thriller,genres_War,genres_Western,genres_\N,averageRating,numVotes
0,tt0000574,movie,0,1906,70,1,0,1,0,1,...,0,0,0,0,0,0,0,0,6.0,765
1,tt0001892,movie,0,1911,53,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.8,234
2,tt0002101,movie,0,1912,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5.1,530
3,tt0002130,movie,0,1911,71,0,0,1,0,0,...,0,0,0,0,0,0,0,0,7.0,2843
4,tt0002186,movie,0,1912,46,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.4,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129134,tt9914286,movie,0,2019,98,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.5,218
129135,tt9914942,movie,0,2019,74,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.7,147
129136,tt9916190,movie,0,2020,90,1,0,1,0,0,...,0,0,0,0,1,0,0,0,3.6,233
129137,tt9916270,movie,0,2020,84,0,0,0,0,0,...,0,0,0,0,1,0,0,0,5.8,1334
129138,tt9916362,movie,0,2020,92,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6.4,4654